/*** BASE STYLE ***/
html{
    font-size: 16px;
}
    body{
        font-family:'Source Sans Pro', sans-serif;
        color:#5e5d5e;
        font-size: .9em;
    }
    /*** GRID OF BODY ***/
    .full-width {
        max-width:1200px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }
    .half-width{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .third-width{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*** HEADER ***/
    header{
        width:100%;
        background: url('/Users/tainarasilva/Desktop/jubilee-austen/img/full-background.png');
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        text-align: center;
        
    }
    header h1{
        padding: 38px 0 20px 0;
        font-family: 'lora';
        font-size:2.5em;
        color:#7b7e54;
        width:100%;
    }
    nav{
        width:100%;
        text-align: right;
        padding:0px 5px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    nav ul li{
        display:inline-block;
    }
    nav ul li a{
        
        text-decoration:underline;
        font-size:1.2em;
        color:#727172;
        padding-left:10px;
        padding-right: 10px;
    }

    header h2{
        width:100%;
        clear:both;
        font-family:'lora';
        font-size:2em;
        line-height:50px;
        color:#7b7e54 ;
        padding: 90px 10px;
    }
    /*** ABOUT SECTION ***/

    #about .full-width{
      padding:80px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
    #about h2{
        font-family:'Lora', serif;
        font-size: 2em;
        align-items: center;
        
    }
    #about p {
        
            font-size: 1.2em;
            line-height:25px;
            padding-left:55px;
            padding-right:60px;
            color:#a7a7a7;
            text-align: justify;
    }
    /*** WORK SECTION ***/

    #skills{
        background-color: #f5f5f5;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #skills .full-width{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:100px 0;
    }
    #skills .skill-list{
        
        width:100%;
        padding: 0 50px;
    }

    #skills h2{
        font-family: 'lora', serif;
        font-size:2em;
        padding-bottom:80px;
    }
    #skills h3{
        font-family: 'lora', serif;
        font-size: 1.5em;
        line-height: 36px;
        margin: 30px 0 20px 0;
    }
    #skills p {
        font-size:1.25em;
        line-height:30px;
        padding: 0 10spx;
        text-align: justify;
    }
    /*** CONTACT SECTION ***/

    #contact{
        background-color: #f9e9e9;
    }
    #contact .full-width{
        width:100%;
        padding:80px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #contact .contact-image{
       align-items: center;
        width:100%;
        display: flex;
        justify-content: center;
    }
    #contact #contact-image{
        width: 500px;
        height: 300px;
        margin: 0 50px;
        box-sizing: border-box;
        border: 10px solid #ffffff;
    }
    #contact .contact-info{
        
        box-sizing: border-box;
    }
    #contact h2 {
        font-family: "Lora", serif;
        font-size: 2em;
        margin: 30px 0;
        display: flex;
        justify-content: center;
    }
    #contact h3 {
        font-size: 1.5em;
        justify-content: center;
        display: flex;
        font-weight: 400;
        line-height: 36px;
        
    }
    #contact a {
        text-decoration: none;
        color: #5e5d5e;
        font-size: 1.25em;
        display: flex;
        justify-content: center;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    #contact #email-header {
       
        margin-bottom: 5px;
        
    }
    #contact #socialmedia-header {
        margin: 20px 0 5px 0;
        text-align: center;
        display: flex;
        justify-content: center;
        
    }
    #contact ul{
        margin-top: 0;
        padding-left: 0;
        list-style: none;
    }
    #contact ul li{
        display: inline-block;
    }
    #contact ul img {
        padding-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 20px;
        padding-left: 20px;
    }
    /***PROJECT PAGE***/

    .project-page{
        width:100%;
        margin: 0 auto;
        flex-flow: row wrap;
    
    }
    /*** Projects Page Styles ***/

    /***Projects Page Header Styles***/
    header .extra-hero{
        background:#f9efef;
    }
    /*** Projects Page Projects Styles ***/
    #projects{
        background-color: #f5f5f5;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #projects .full-width{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:100px 0;
    }
    #projects .project-piece{
        width:100%;
        padding: 0 60px;
    }
    #projects h2{
        font-family: 'Lora', serif;
        font-size: 2.2em;
        padding-bottom: 60px;
    }
    #projects h3{
        font-family: 'Lora', serif;
        font-size: 1.5em;;
        line-height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #projects p{
        font-family: 'Lora', serif;
        font-size: 1.2em;
        line-height: 25px;
        padding: 0 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    #projects img{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    /* TABLET MEDIA QUERY */

    @media all and (min-width: 768px){
        body{
            font-family:'Source Sans Pro', sans-serif;
            color:#5e5d5e;
            font-size: .9em;
        }
        /*** GRID OF BODY ***/
        .full-width {
            max-width:1200px;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-flow: row wrap;
        }
        .half-width{
            width:100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .third-width{
            width:100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        /*** HEADER ***/

        header{
            width:100%;
            background: url('/Users/tainarasilva/Desktop/jubilee-austen/img/full-background.png');
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            text-align: center;
            
        }
        header h1{
            padding: 38px 0 20px 0;
            font-family: 'lora';
            font-size:2.5em;
            color:#7b7e54;
            width:100%;
        }
        nav{
            width:100%;
            text-align: right;
            padding:0px 5px;
            display: flex;
            justify-content: center;
            text-align: center;
        }
        nav ul li{
            display:inline-block;
        }
        nav ul li a{
            
            text-decoration:underline;
            font-size:1.4em;
            color:#727172;
        }
        header h2{

            width:100%;
            font-family:'lora';
            font-size:2.5em;
            line-height:50px;
            color:#7b7e54 ;
            padding: 70px 90px;
        }
        /*** ABOUT SECTION ***/
        #about .full-width{
          padding:80px 0;
          display: flex;
          justify-content: center;
          align-items: center;
          
        }
        #about h2{
            font-family:'Lora', serif;
            font-size: 2.3em;
            align-items: center;
            
        }
        #about p {
            
                font-size: 1.4em;
                line-height:25px;
                padding-left:55px;
                padding-right:60px;
                color:#a7a7a7;
                text-align: justify;
        }
        /*** WORK SECTION ***/
        #skills{
            background-color: #f5f5f5;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #skills .full-width{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding:100px 0;
        }
        #skills .skill-list{
            
            width:100%;
            padding: 0 50px;
        }
    
        #skills h2{
            font-family: 'lora', serif;
            font-size:2.3em;
            padding-bottom:80px;
        }
        #skills h3{
            font-family: 'lora', serif;
            font-size: 2em;
            line-height: 36px;
            margin: 30px 0 20px 0;
        }
        #skills p {
            font-size:1.4em;
            line-height:30px;
            padding: 0 10spx;
            text-align: justify;
        }
        /*** CONTACT SECTION ***/
        #contact{
            background-color: #f9e9e9;
        }
        #contact .full-width{
            width:100%;
            padding:80px 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #contact .contact-image{
           align-items: center;
            width:100%;
            display: flex;
            justify-content: center;
        }
        #contact #contact-image{
            width: 500px;
            height: 300px;
            margin: 0 50px;
            box-sizing: border-box;
            border: 10px solid #ffffff;
        }
        #contact .contact-info{
            
            box-sizing: border-box;
        }
        #contact h2 {
            font-family: "Lora", serif;
            font-size: 2.3em;
            margin: 30px 0;
            display: flex;
            justify-content: center;
        }
        #contact h3 {
            font-size: 1.5em;
            justify-content: center;
            display: flex;
            font-weight: 400;
            line-height: 36px;
            
        }
        #contact a {
            text-decoration: none;
            color: #5e5d5e;
            font-size: 1.4em;
            display: flex;
            justify-content: center;
            text-align: center;
            display: flex;
            justify-content: center;
            padding-top: 20px;
        }
    #contact #email-header {
        margin-bottom: 5px;

        }
    #contact #socialmedia-header {
        margin: 20px 0 5px 0;
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 1.4em;
            
        }
    #contact ul{
        margin-top: 0;
        padding-left: 0;
        list-style: none;
        }
    #contact ul li{
        display: inline-block;
        }
    #contact ul img {
        padding-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 30px;
        padding-left: 30px;
    }
         /***PROJECT PAGE***/
    .project-page{
        width:100%;
        margin: 0 auto;
        flex-flow: row wrap;
    
    }
    /*** Projects Page Styles ***/
    
    /***Projects Page Header Styles***/
    header .extra-hero{
        background:#f9efef;
    }
    /*** Projects Page Projects Styles ***/
    #projects{
        background-color: #f5f5f5;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #projects .full-width{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:100px 0;
    }
    #projects .project-piece{
        width:100%;
        padding: 50px 60px;
    }
    #projects h2{
        font-family: 'Lora', serif;
        font-size: 2.2em;
        padding-bottom: 60px;
    }
    #projects h3{
        font-family: 'Lora', serif;
        font-size: 1.5em;;
        line-height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #projects p{
        font-family: 'Lora', serif;
        font-size: 1.2em;
        line-height: 25px;
        padding: 10px 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    #projects img{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    }

    /* DESKTOP MEDIA QUERY */

@media all and (min-width: 1200px) {
   
    /*** BASE STYLE ***/
body{
    font-family:'Source Sans Pro', sans-serif;
    color:#5e5d5e;
}
/*** GRID OF BODY ***/
.full-width {
    max-width:1200px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
.half-width{
    width:600px;
    display: flex;
    justify-content: center;
    
}
.third-width{
    width:400px;
    display: flex;
    justify-content: center;
}
/*** HEADER ***/
header{
    width:100%;
    background: url('/Users/tainarasilva/Desktop/jubilee-austen/img/full-background.png');
    background-size:cover;
    background-position:center;
    display: flex;
    justify-content: center;
    text-align: center;
}
header h1{
    padding:65px 0 65px 25px;
    font-family: 'lora';
    font-size:2.18em;
    color:#7b7e54;
    width:100%;
}
nav{
    width:100%;
    text-align: right;
    padding:75px 35px;
    display:flex;
}
nav ul li{
    display:inline-block;
}
nav ul li a{
    
    text-decoration:underline;
    font-size:1.1875em;
    color:#727172;
    padding-left:20px;
}
header h2{
    width:100%;
    font-family:'lora';
    font-size:4.5em;
    line-height:85px;
    color:#817f80;
    padding-top: 70px;
    display: flex;
    justify-content: center;
}
/*** ABOUT SECTION ***/
#about .full-width {
    
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

#about h2 {
    font-family: 'Lora', serif;
    font-size: 2.5em;
    padding-left: 600px;
    width: 60%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #5e5d5e;
    display: flex;
}

#about p {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    font-family: "lora", serif;
    font-size: 1.5em;
    padding-left:320px;
    text-align: justify;
    
    
   
    
}
/*** WORK SECTION ***/
#skills{
    background-color: #f5f5f5;
    text-align: center;
}
#skills .full-width{
    padding: 115px 0;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
#skills .skill-list{
    width:100%;
    padding: 0 50px;
    
}
#skills h2{
    font-family: 'lora', serif;
    font-size:2.25em;
    padding-bottom: 70px;
}
#skills h3{
    font-family: 'lora', serif;
    font-size: 1.6em;
    line-height: 36px;
    margin: 30px 0 20px 0;
}
#skills p {
    font-size:1.25em;
    line-height:30px;
    text-align: left;
    padding: 0 5px;
}
/*** CONTACT SECTION ***/
#contact{
    background-color: #f9e9e9;
}
#contact .full-width{
    padding: 115px 0;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
#contact .contact-image{
    
    width:100%;
    padding-left: 600px;
    display: flex;

}
#contact #contact-image{
    width: 500px;
    height: 300px;
    margin: 0 50px;
    box-sizing: border-box;
    border: 10px solid #ffffff;
}
#contact .contact-info{
    align-self: center;
    box-sizing: border-box;
    padding-left: 650px;
    padding-right: 70px;
    
}
#contact h2 {
    font-family: "Lora", serif;
    font-size: 2.3em;
    margin: 30px 0;
    display: flex;
    justify-content: center;
}
#contact h3 {
    font-size: 1.5em;
    justify-content: center;
    display: flex;
    font-weight: 400;
    line-height: 36px;
    
}
#contact a {
    text-decoration: none;
    color: #5e5d5e;
    font-size: 1.4em;
    display: flex;
    justify-content: center;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
#contact #email-header {
margin-bottom: 5px;

}
#contact #socialmedia-header {
margin: 20px 0 5px 0;
text-align: center;
display: flex;
justify-content: center;
font-size: 1.4em;
    
}
#contact ul{
margin-top: 0;
padding-left: 0;
list-style: none;
}
#contact ul li{
display: inline-block;
padding-left: 30px;


}
#contact ul img {
    padding-right: 50px;
    padding-top: 10px

  
}

/***PROJECT PAGE***/
.project-page{
    width:1200px;
    margin: 0 auto;
    overflow: auto;
}
/*** Projects Page Styles ***/
/***Projects Page Header Styles***/
header .extra-hero{
    background:#f9efef;
}
/*** Projects Page Projects Styles ***/
#projects{
    background: #f5f5f5;
    text-align: center;
}
#projects .full-width{
    padding:115px 0;
}
#projects .project-piece{
    float: left;
    width: 300px;
    padding: 0 50px;
}
#projects h2{
    font-family: 'Lora', serif;
    font-size: 36px;
    padding-bottom: 40px;
}
#projects h3{
    font-family: 'Lora', serif;
    font-size: 24px;
    line-height: 36px;
}
#projects p{
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    padding: 0 5px;
}
#projects img{
    width: 300px;
    padding-bottom: 30px;
}
}


